<div class="card overflow-hidden">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <h3 class="mb-2 fw-semibold">{{remaining}}</h3>
                <p class="text-muted fs-13 mb-0">Open Dental Keys remaining</p>
                <p class="text-muted mb-0 mt-2 fs-12">&nbsp;</p>
            </div>
            <div class="col col-auto top-icn dash">
                <div class="counter-icon bg-secondary dash ms-auto box-shadow-secondary">
                    <i class="fa fa-key" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</div>
